
@{
    ViewData["Title"] = "RequestForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-area background">
    <div class="container ">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">Request Password Reset</p>
                        <form asp-action="RequestForgotPassword" method="post">
                            <div>
                                <label class="text-white fw-bold" for="email">Email:</label>
                                <input class="form-control mt-3" type="email" name="email" />
                            </div>
                            <button class="btn btn-primary mt-3" type="submit">Send Reset Email</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



